<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>(Python Strings)</title>
<meta name="author" content="(Jason Furtney)"/>
<link rel="stylesheet" href="http://cdn.jsdelivr.net/reveal.js/2.5.0/css/reveal.min.css"/>
<link rel="stylesheet" href="http://cdn.jsdelivr.net/reveal.js/2.5.0/css/theme/default.css" id="theme"/>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/reveal.js/2.5.0/css/print/pdf.css" type="text/css" media="print"/>
</head>
<body>
<div class="reveal">
<div class="slides">
<section>
<h1>Python Strings</h1>
<h2>Jason Furtney</h2>
<h2><a href="mailto:@jkfurtney">@jkfurtney</a></h2>
<h2></h2></section>

<section>
<section id="sec-1" >

<h2>String literals</h2>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">joke</span>      = <span style="color: #61CE3C;">"It's hard to explain puns to kleptomaniacs"</span>
<span style="color: #D8FA3C;">punchline</span> = <span style="color: #61CE3C;">'because they always take things literally.'</span>

<span style="color: #D8FA3C;">poem</span> = <span style="color: #61CE3C;">"""</span>
<span style="color: #61CE3C;">The Ogre does what ogres can,</span>
<span style="color: #61CE3C;">Deeds quite impossible for Man,</span>
<span style="color: #61CE3C;">But one prize is beyond his reach:</span>
<span style="color: #61CE3C;">The Ogre cannot master Speech.</span>

<span style="color: #61CE3C;">About a subjugated plain,</span>
<span style="color: #61CE3C;">Among its desperate and slain,</span>
<span style="color: #61CE3C;">The Ogre stalks with hands on hips,</span>
<span style="color: #61CE3C;">While drivel gushes from his lips.</span>
<span style="color: #61CE3C;">"""</span>
</pre>
</div>

</section>
<section>
<p>
Raw strings
</p>

<div class="org-src-container">

<pre class="src src-python"><span style="color: #FBDE2D;">print</span> <span style="color: #61CE3C;">"first line\nsecond line"</span>

<span style="color: #FBDE2D;">print</span> r<span style="color: #61CE3C;">"first line\nsecond line"</span>
</pre>
</div>

<pre class="example">
first line
second line
first line\nsecond line
</pre>

<ul class="org-ul">
<li>Unicode and byte strings&#x2026;
</li>
</ul>
</section>
</section>
<section>
<section id="sec-2" >

<h2>String operations</h2>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #61CE3C;">"Spam "</span> + <span style="color: #61CE3C;">"eggs"</span>
</pre>
</div>

<pre class="example">
'Spam eggs'
</pre>

</section>
<section>

<div class="org-src-container">

<pre class="src src-python"><span style="color: #61CE3C;">"Spam "</span> * 10
</pre>
</div>

<pre class="example">
'Spam Spam Spam Spam Spam Spam Spam Spam Spam Spam '
</pre>

</section>
<section>
<p>
Converting objects to strings
</p>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #FF6400;">str</span>(42) == <span style="color: #61CE3C;">"42"</span>
</pre>
</div>

<pre class="example">
True
</pre>

<p>
and strings to objects
</p>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #FF6400;">int</span>(<span style="color: #61CE3C;">"42"</span>) == 42
</pre>
</div>

<pre class="example">
True
</pre>

</section>
<section>
<p>
Iteration
</p>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #FBDE2D;">for</span> char <span style="color: #FBDE2D;">in</span> <span style="color: #61CE3C;">"pymntos"</span>:
    <span style="color: #FBDE2D;">print</span> char
</pre>
</div>

<pre class="example">
p
y
m
n
t
o
s
</pre>


</section>
<section>
<p>
Slicing
</p>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">book_description</span> =  <span style="color: #61CE3C;">"A cautionary tale of the decadent downside of the American dream."</span>

book_description[2:12]
</pre>
</div>

<pre class="example">
'cautionary'
</pre>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">book_description</span> =  <span style="color: #61CE3C;">"A cautionary tale of the decadent downside of the American dream."</span>

<span style="color: #D8FA3C;">book_description</span>[2:12] = <span style="color: #61CE3C;">"silly"</span>
</pre>
</div>

<pre class="example">
&gt;&gt;&gt; Traceback (most recent call last):
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;
TypeError: 'str' object does not support item assignment
</pre>

<ul class="org-ul">
<li>Python strings are immutable for performance and safety.
</li>
<li>The <code>str</code> methods and functions return a new <code>str</code> object.
</li>
</ul>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">book_description</span> =  <span style="color: #61CE3C;">"A cautionary tale of the decadent downside of the American dream."</span>
<span style="color: #FBDE2D;">print</span> book_description.replace(<span style="color: #61CE3C;">"cautionary"</span>, <span style="color: #61CE3C;">"silly"</span>)
<span style="color: #FBDE2D;">print</span> book_description
</pre>
</div>

<pre class="example">
A silly tale of the decadent downside of the American dream.
A cautionary tale of the decadent downside of the American dream.
</pre>

<p>
The original string is unchanged.
</p>
</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">incoherent</span> = <span style="color: #61CE3C;">"Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?"</span>
<span style="color: #FBDE2D;">print</span> incoherent.upper()
<span style="color: #FBDE2D;">print</span> incoherent.title()
<span style="color: #FBDE2D;">print</span> incoherent.swapcase()
<span style="color: #FBDE2D;">print</span> incoherent
</pre>
</div>

<pre class="example">
HAS ANYONE REALLY BEEN FAR EVEN AS DECIDED TO USE EVEN GO WANT TO DO LOOK MORE LIKE?
Has Anyone Really Been Far Even As Decided To Use Even Go Want To Do Look More Like?
hAS aNYONE rEALLY bEEN fAR eVEN AS dECIDED TO uSE eVEN gO wANT TO DO lOOK mORE lIKE?
Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?
</pre>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #61CE3C;">", "</span>.join([<span style="color: #61CE3C;">"one"</span>, <span style="color: #61CE3C;">"two"</span>, <span style="color: #61CE3C;">"three"</span>])
</pre>
</div>

<pre class="example">
'one, two, three'
</pre>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #61CE3C;">"one,two,three"</span>.split(<span style="color: #61CE3C;">","</span>)
</pre>
</div>

<pre class="example">
['one', 'two', 'three']
</pre>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">laws</span> = <span style="color: #61CE3C;">""" First Law of Thermodynamics: You can't win.</span>
<span style="color: #61CE3C;">           Second Law of Thermodynamics: You can't break even.</span>
<span style="color: #61CE3C;">           Third Law of Thermodynamics: You can't stop playing."""</span>

<span style="color: #FBDE2D;">for</span> law <span style="color: #FBDE2D;">in</span> laws.splitlines():
    <span style="color: #FBDE2D;">print</span> law.split(<span style="color: #61CE3C;">":"</span>)[1]
</pre>
</div>

<pre class="example">
You can't win.
You can't break even.
You can't stop playing.
</pre>


</section>
<section id="sec-2-1" >

<h3>Searching strings</h3>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">book_description</span> =  <span style="color: #61CE3C;">"A cautionary tale of the decadent downside of the American dream."</span>

(
  <span style="color: #61CE3C;">"of"</span> <span style="color: #FBDE2D;">in</span> book_description,
  book_description.startswith(<span style="color: #61CE3C;">"A"</span>),
  book_description.endswith(<span style="color: #61CE3C;">"dream."</span>),
  book_description.find(<span style="color: #61CE3C;">"tale"</span>),
  book_description.find(<span style="color: #61CE3C;">"Python"</span>)
)
</pre>
</div>

<pre class="example">
(True, True, True, 13, -1)
</pre>


</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">book_text</span> = <span style="color: #61CE3C;">"""</span>
<span style="color: #61CE3C;">In my younger and more vulnerable years my father gave me some advice</span>
<span style="color: #61CE3C;">that I've been turning over in my mind ever since. "Whenever you feel</span>
<span style="color: #61CE3C;">like criticizing any one", he told me, "just remember that all the</span>
<span style="color: #61CE3C;">people in this world haven't had the advantages that you've had."</span>
<span style="color: #61CE3C;">"""</span> <span style="color: #8B8989; font-style: italic;">#  </span><span style="color: #8B8989; font-style: italic;">The first two sentences from The Great Gatsby.</span>

book_text.count(<span style="color: #61CE3C;">"my"</span>)
</pre>
</div>

<pre class="example">
3
</pre>

</section>
<section id="sec-2-2" >

<h3>Regular expressions</h3>
</section>
<section>
<div class="org-src-container">

<pre class="src src-c++">fish-&gt;registerLibrary(NEWC(BaseLibrary(r,iArrayGet    ,<span style="color: #61CE3C;">"array.create"</span> ,-1,<span style="color: #4c83ff;">true</span> ,<span style="color: #61CE3C;">"array"</span>,<span style="color: #61CE3C;">"int,..."</span>  )));
fish-&gt;registerLibrary(NEWC(BaseLibrary(r,iArrayLose   ,<span style="color: #61CE3C;">"array.delete"</span> , 1,<span style="color: #4c83ff;">true</span> ,<span style="color: #61CE3C;">"void"</span> ,<span style="color: #61CE3C;">"array"</span>    )));
fish-&gt;registerLibrary(NEWC(BaseLibrary(r,iArrayDim    ,<span style="color: #61CE3C;">"array.dim"</span>    , 1,<span style="color: #4c83ff;">true</span> ,<span style="color: #61CE3C;">"int"</span>  ,<span style="color: #61CE3C;">"array"</span>    )));
fish-&gt;registerLibrary(NEWC(BaseLibrary(r,iArraySize   ,<span style="color: #61CE3C;">"array.size"</span>   , 2,<span style="color: #4c83ff;">true</span> ,<span style="color: #61CE3C;">"int"</span>  ,<span style="color: #61CE3C;">"array,int"</span>)));
fish-&gt;registerLibrary(NEWC(BaseLibrary(r,iArrayConvert,<span style="color: #61CE3C;">"array.convert"</span>, 1,<span style="color: #4c83ff;">true</span> ,<span style="color: #61CE3C;">"array"</span>,<span style="color: #61CE3C;">"mat/tens"</span>)));
fish-&gt;registerLibrary(NEWC(BaseLibrary(r,iArrayCopy   ,<span style="color: #61CE3C;">"array.copy"</span>   , 1,<span style="color: #4c83ff;">false</span>,<span style="color: #61CE3C;">"array"</span>,<span style="color: #61CE3C;">"array"</span>)));
fish-&gt;registerLibrary(NEWC(BaseLibrary(r,iArrayCommand,<span style="color: #61CE3C;">"array.command"</span>, 1,<span style="color: #4c83ff;">true</span> ,<span style="color: #61CE3C;">"bool"</span> ,<span style="color: #61CE3C;">"array"</span>)));
</pre>
</div>

<ul class="org-ul">
<li><code>my_code.cpp</code>
</li>
</ul>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #FBDE2D;">import</span> re
<span style="color: #D8FA3C;">pattern</span> = re.<span style="color: #FF6400;">compile</span>(r<span style="color: #61CE3C;">'.*registerLibrary[^"]*"([^"]*)".*'</span>)

<span style="color: #D8FA3C;">results</span> = []
<span style="color: #FBDE2D;">for</span> line <span style="color: #FBDE2D;">in</span> <span style="color: #FF6400;">open</span>(<span style="color: #61CE3C;">"my_code.cpp"</span>).readlines():
    <span style="color: #D8FA3C;">match</span> = pattern.match(line)
    <span style="color: #FBDE2D;">if</span> match:
        results.append(match.groups()[0])

<span style="color: #FBDE2D;">print</span> results
</pre>
</div>

<pre class="example">
['array.create', 'array.delete', 'array.dim', 'array.size', 'array.convert', 'array.copy', 'array.command']
</pre>
</section>
</section>
<section>
<section id="sec-3" >

<h2>Structured Output</h2>
<p>
String interpolation with <code>%</code>
</p>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #61CE3C;">"%s and %s"</span> % (<span style="color: #61CE3C;">"Spam"</span>, <span style="color: #61CE3C;">"eggs"</span>)
</pre>
</div>

<pre class="example">
'Spam and eggs'
</pre>

<p>
The string <code>format</code> method
</p>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #61CE3C;">"{} and {}"</span>.<span style="color: #FF6400;">format</span>(<span style="color: #61CE3C;">"Spam"</span>, <span style="color: #61CE3C;">"eggs"</span>)
</pre>
</div>

<pre class="example">
'Spam and eggs'
</pre>

<p>
The <code>format</code> method is new (Python 2.6+) and generally preferred. It
is extensible.
</p>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">template</span> = <span style="color: #61CE3C;">"Hello {0}, welcome to {1}. {0} is {2}."</span>
template.<span style="color: #FF6400;">format</span>(<span style="color: #61CE3C;">"David"</span>, <span style="color: #61CE3C;">"Minnesota"</span>, <span style="color: #61CE3C;">"Tall"</span>)
</pre>
</div>

<pre class="example">
'Hello David, welcome to Minnesota. David is Tall.'
</pre>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">template</span> = <span style="color: #61CE3C;">"Hello {name}, welcome to {place}. {name} is {description}."</span>
template.<span style="color: #FF6400;">format</span>(name=<span style="color: #61CE3C;">"David"</span>, place=<span style="color: #61CE3C;">"Minnesota"</span>, description=<span style="color: #61CE3C;">"Tall"</span>)
</pre>
</div>

<pre class="example">
'Hello David, welcome to Minnesota. David is Tall.'
</pre>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #FBDE2D;">class</span> <span style="color: #D8FA3C;">Purchase</span>:
    <span style="color: #FBDE2D;">pass</span>

<span style="color: #D8FA3C;">transaction</span> = Purchase()
<span style="color: #D8FA3C;">transaction.number</span> = 3
<span style="color: #D8FA3C;">transaction.customer</span> = <span style="color: #61CE3C;">"Bill"</span>
<span style="color: #D8FA3C;">transaction.product</span> = <span style="color: #61CE3C;">"Widget"</span>

<span style="color: #D8FA3C;">receipt</span> = <span style="color: #61CE3C;">"Thank you {0.customer} for your purchase of {0.number} {0.product}s."</span>
<span style="color: #FBDE2D;">print</span> receipt.<span style="color: #FF6400;">format</span>(transaction)
</pre>
</div>

<pre class="example">
Thank you Bill for your purchase of 3 Widgets.
</pre>

<ul class="org-ul">
<li>Access object attributes
</li>
<li>dictionary keys
</li>
<li>list indexing
</li>
</ul>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">number</span> = 123
<span style="color: #61CE3C;">"decimal: {0}, hex: {0:X}, binary: {0:b}"</span>.<span style="color: #FF6400;">format</span>(number)
</pre>
</div>

<pre class="example">
'decimal: 123, hex: 7B, binary: 1111011'
</pre>

</section>
<section id="sec-3-1"  data-background="./dumb_terminal.gif" data-background-transition="slide">

<h3>In the old days&#x2026;</h3>
</section>
<section id="sec-3-2"  data-background="./paper_tape_reader.gif">

<h3>.</h3>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #FBDE2D;">from</span> math <span style="color: #FBDE2D;">import</span> pi, e
<span style="color: #FBDE2D;">for</span> i <span style="color: #FBDE2D;">in</span> [-2,-1,0,1,2]:
    <span style="color: #D8FA3C;">scale</span> = 10**i
    <span style="color: #FBDE2D;">print</span> <span style="color: #61CE3C;">"{:9.4f} {:9.4f} {:9.4f}"</span>.<span style="color: #FF6400;">format</span>(10 * scale, pi * scale, e * scale)
</pre>
</div>

<pre class="example">
   0.1000    0.0314    0.0272
   1.0000    0.3142    0.2718
  10.0000    3.1416    2.7183
 100.0000   31.4159   27.1828
1000.0000  314.1593  271.8282
</pre>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #D8FA3C;">words</span> = <span style="color: #61CE3C;">"Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?"</span>.split()

<span style="color: #FBDE2D;">for</span> i <span style="color: #FBDE2D;">in</span> <span style="color: #FF6400;">range</span>(6):
    <span style="color: #FBDE2D;">print</span> (<span style="color: #61CE3C;">"{:10}"</span> * 3).<span style="color: #FF6400;">format</span>(words.pop(0), words.pop(0), words.pop(0))
</pre>
</div>

<pre class="example">
Has       Anyone    Really
Been      Far       Even
as        Decided   to
Use       Even      Go
Want      to        do
Look      More      Like?
</pre>


</section>
<section>
<p>
Templating libraries
</p>

<div class="org-src-container">

<pre class="src src-html">&lt;<span style="color: #ff1493;">title</span>&gt;<span style="font-weight: bold;">{% block title %}{% endblock %}</span>&lt;/<span style="color: #ff1493;">title</span>&gt;
&lt;<span style="color: #ff1493;">ul</span>&gt;
{% for user in users %}
  &lt;<span style="color: #ff1493;">li</span>&gt;&lt;<span style="color: #ff1493;">a</span> <span style="color: #D8FA3C;">href</span>=<span style="color: #61CE3C;">"{{ user.url }}"</span>&gt;{{ user.username }}&lt;/<span style="color: #ff1493;">a</span>&gt;&lt;/<span style="color: #ff1493;">li</span>&gt;
{% endfor %}
&lt;/<span style="color: #ff1493;">ul</span>&gt;
</pre>
</div>

<ul class="org-ul">
<li>Jinja2 <a href="http://jinja.pocoo.org/docs/">http://jinja.pocoo.org/docs/</a>
</li>
</ul>

</section>
<section>
<p>
Python port of the Common Lisp FORMAT function.
</p>

<div class="org-src-container">

<pre class="src src-python"><span style="color: #FBDE2D;">from</span> clformat <span style="color: #FBDE2D;">import</span> clformat
<span style="color: #FBDE2D;">import</span> time

clformat(<span style="color: #61CE3C;">"There is a ~a in my string."</span>, <span style="color: #61CE3C;">"foo"</span>)
clformat(<span style="color: #61CE3C;">"~r cat~:p"</span>, 10)
clformat(<span style="color: #61CE3C;">"~{~a~^-~}"</span>, <span style="color: #FF6400;">range</span>(8))
clformat(<span style="color: #61CE3C;">"The year is ~@r"</span>, time.localtime().tm_year)
clformat(<span style="color: #61CE3C;">"~#[ none~; ~A~; ~A and ~A~:;~@{~#[~; and~] ~A~^,~}~]."</span>,
         <span style="color: #61CE3C;">"James"</span>, <span style="color: #61CE3C;">"Simon"</span>, <span style="color: #61CE3C;">"Jason"</span>, <span style="color: #61CE3C;">"Kerry"</span>)
</pre>
</div>

<pre class="example">
There is a foo in my string.
ten cats
0-1-2-3-4-5-6-7
The year is MMXIV
 James, Simon, Jason, and Kerry.
</pre>

<ul class="org-ul">
<li>Not for the faint of heart&#x2026;
</li>
<li><a href="https://github.com/jkfurtney/clformat">https://github.com/jkfurtney/clformat</a>
</li>
<li>Python port of FORTRAN's format statement: <a href="https://pypi.python.org/pypi/fortranformat">https://pypi.python.org/pypi/fortranformat</a>
</li>
</ul>
</section>
</section>
<section>
<section id="sec-4" >

<h2>Unicode</h2>
</section>
<section id="sec-4-1" >

<h3>Code golf</h3>
<p>
Produce the number 2014 without any numbers in your source code
</p>

<div class="org-src-container">

<pre class="src src-python"><span style="color: #FF6400;">sum</span>(<span style="color: #FF6400;">ord</span>(c) <span style="color: #FBDE2D;">for</span> c <span style="color: #FBDE2D;">in</span> <span style="color: #61CE3C;">'Happy new year to you!'</span>)
</pre>
</div>

<pre class="example">
2014
</pre>

<ul class="org-ul">
<li>see also <code>chr()</code> (or <code>unichr()</code>) which is the inverse of <code>ord()</code>.
</li>
</ul>
</section>
<section id="sec-4-2" >

<h3>Unicode</h3>
<ul class="org-ul">
<li>110,000 characters and symbols are defined for about 100 written scripts.
</li>

<li>Python 2:
<ul class="org-ul">
<li><code>str</code> objects represent 8-bit text and binary data
</li>
<li><code>Unicode</code> object
</li>
</ul>
</li>

<li>Python 3:
<ul class="org-ul">
<li><code>str</code> object for Unicode text and 8-bit text
</li>
<li><code>bytes</code> type for binary data
</li>
</ul>
</li>
</ul>

</section>
<section>
<ul class="org-ul">
<li>Python 2.6+ and 3 have a <code>bytearray</code> type (mutable version of
bytes)
</li>

<li>Practical Unicode: How do I stop the pain: <a href="http://nedbatchelder.com/text/unipain.html">http://nedbatchelder.com/text/unipain.html</a>
</li>
<li><a href="http://www.joelonsoftware.com/articles/Unicode.html">http://www.joelonsoftware.com/articles/Unicode.html</a>
</li>
</ul>
</section>
<section id="sec-4-3" >

<h3>other</h3>
<ul class="org-ul">
<li>more stuff in the <code>string</code> module
</li>
<li><code>json</code> &amp; <code>xml</code> modules
</li>
<li><code>StringIO</code> module use strings as <code>file</code> objects
</li>
<li><code>struct</code> module for binary IO
</li>
</ul>

</section>
<section>
<div class="org-src-container">

<pre class="src src-python"><span style="color: #61CE3C;">"""</span>
<span style="color: #61CE3C;">Thank You!</span>
<span style="color: #61CE3C;">"""</span>
</pre>
</div>
</section>
</section>
</div>
</div>
<script src="http://cdn.jsdelivr.net/reveal.js/2.5.0/lib/js/head.min.js"></script>
<script src="http://cdn.jsdelivr.net/reveal.js/2.5.0/js/reveal.min.js"></script>
<script>

                        // Full list of configuration options available here:
                        // https://github.com/hakimel/reveal.js#configuration
                        Reveal.initialize({
                                controls: true,
                                progress: true,
                                history: false,
                                center: true,
                                rollingLinks: false,
                                keyboard: true,
                                overview: true,
                                 // slide width
                                 // slide height
                                 // slide margin
                                 // slide minimum scaling factor
                                 // slide maximum scaling factor


                                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
                                transitionSpeed: 'default',

                                // Optional libraries used to extend on reveal.js
                                dependencies: [
                                        { src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/lib/js/classList.js', condition: function() { return !document.body.classList; } }
                                        ,{ src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } }
                                        ,{ src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } }
                                        ,{ src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                                        ,{ src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } }
                                        ,{ src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                                        // { src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
                                        // { src: 'http://cdn.jsdelivr.net/reveal.js/2.5.0/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }

                                ]
                        });
</script>
</body>
</html>
